<div>
  <div>
    <h1>
      List of all foods
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new food
    </h2>

    <form action="/insert_food" method="post">
      <div>
        <label for="restaurant_id_box">
          Restaurant
        </label>

        <input type="text" id="restaurant_id_box" name="query_restaurant_id">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create food
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Restaurant
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_foods.each do |a_food| %>
      <tr>
        <td>
          <%= a_food.id %>
        </td>

        <td>
          <%= a_food.restaurant_id %>
        </td>

        <td>
          <%= a_food.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_food.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_food.updated_at) %> ago
        </td>

        <td>
          <a href="/foods/<%= a_food.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
