<div>
  <div>
    <h1>
      Food #<%= @the_food.id %> details
    </h1>

    <div>
      <div>
        <a href="/foods">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_food/<%= @the_food.id %>">
          Delete food
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Restaurant
      </dt>
      <dd>
        <%= @the_food.restaurant_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_food.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_food.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_food.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit food
    </h2>

    <form action="/modify_food/<%= @the_food.id %>"  method="post" >
      <div>
        <label for="restaurant_id_box">
          Restaurant
        </label>

        <input type="text" id="restaurant_id_box" name="query_restaurant_id" value="<%= @the_food.restaurant_id %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_food.name %>">
      </div>

      <button>
        Update food
      </button>
    </form>
  </div>
</div>

<hr>
