<div>
  <div>
    <h1>
      Restaurant #<%= @the_restaurant.id %> details
    </h1>

    <div>
      <div>
        <a href="/restaurants">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_restaurant/<%= @the_restaurant.id %>">
          Delete restaurant
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Food
      </dt>
      <dd>
        <%= @the_restaurant.food_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_restaurant.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_restaurant.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_restaurant.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit restaurant
    </h2>

    <form action="/modify_restaurant/<%= @the_restaurant.id %>"  method="post" >
      <div>
        <label for="food_id_box">
          Food
        </label>

        <input type="text" id="food_id_box" name="query_food_id" value="<%= @the_restaurant.food_id %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_restaurant.name %>">
      </div>

      <button>
        Update restaurant
      </button>
    </form>
  </div>
</div>

<hr>
